body {
  padding-top: 50px;
}

/* For grid */

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
  background-color: #33ff66;
  background-color: rgba(51,255,102,.15);
  margin-right: 60px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

div.blocks {
    background: black;
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
    margin: 3px;
}

div.new_goal_form {
    margin: 50px;
}

.btn-group {
    margin-top: 10px;
    margin-bottom: 30px;
}

.goal_settings {
    margin-top: 50px;
}

.longest_streak {
    margin-top: 30px;
}
