a {
    color: purple;
    font-size: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-right: 60px;
    text-decoration: none;
}

body {
    background: white url("images/orange.png") repeat right bottom;
}

div.blocks {
    background: black;
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
    margin: 3px;
}

div.current_streak {
    display: block;
}