{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'goals/login.css' %}" />
{% endblock %}

{%block nav%}

{%endblock%}

{% block content %}

{{ form.non_field_errors }}
<form class="form-signin" method="post" action="">
    <h2>Streakp registration</h2>

    {% csrf_token %}

    <!--{% for field in form %}
    <div class="control-group">
        {{ field.errors }} {{ field.label_tag }}
    </div>
    {% endfor %}-->

    <!-- https://docs.djangoproject.com/en/1.8/topics/forms/#rendering-form-error-messages -->
<fieldset>
    <div class="control-group">
    <p class="required">
        <input id="id_username" maxlength="30" name="username"
               placeholder="Username"
               type="text" class="form-control"/>
    </p>
    </div>

    <div class="control-group">
    <p class="required">
        <input id="id_email" name="email"
               placeholder="E-mail"
               type="email" class="form-control"/>
    </p>
    </div>

    <div class="control-group">
    <p class="required">
        <input id="id_password1" name="password1"
               placeholder="Password"
               type="password" class="form-control" />
    </p>
    </div>

    <div class="control-group">
    <p class="required">
        <input id="id_password2" name="password2"
               placeholder="Password again"
               type="password" class="form-control"/>
    </p>
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit" />
</fieldset>
</form>

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}