{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="starter-template">

            <p>You can get <strong>credits</strong> if you reach certain streak lengths in your goals.</p>
            <br/>
            <p>You can <strong>use your credits</strong> to do a goal "yesterday" if you <strong>forgot</strong> to push the <strong>do today</strong> button for some reason.</p>
            <br/>
            <p>If you have at least 1 credit and you want your goal to be done,<br/>
                go to the goals page and push the <strong>did it yesterday button</strong> under your do today button</p>

        </div>

    </div>

</div>

{% endblock %}
