

{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="starter-template">

            <a class="btn btn-default cog-glyph" href="/goal_settings/{{current_goal.id}}/" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>

            <h2>{{current_goal}}</h2>

            {%for day in streakdays%}
            <p>{{day}}</p>
            {%endfor%}

            <div class="current_streak">
                <p>Your current streak: {{lenstreak}}</p>
            </div>

            {% if not current_goal.is_done_today %}
            <div class="do_button">
                <form action="/goal/{{current_goal.id}}/" method="post">
                {% csrf_token %}
                <input type="submit" value="do today" />
                </form>
            </div>
            {% endif %}

            <div class="longest_streak">
                <p>Longest streak so far: {{longest_streak}}</p>
            </div>

        </div>

    </div>

</div>

{% endblock %}