{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="col-sm-5 col-sm-offset-3 starter-template-goal">

                <h2>{{current_goal}}</h2>

                <div class="glyph-cog">
                <a class="btn btn-default" href="/goal_settings/{{current_goal.id}}/" role="button">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                </div>

                <div class="streakdays">
                {%for day in streakdays%}
                <p>{{day}}</p>
                {%endfor%}
                </div>

                <div class="current_streak">
                    <p>Your current streak: {{lenstreak}}</p>
                </div>

                {% if not current_goal.is_done_today %}
                <div class="do-button">
                    <form action="/goal/{{current_goal.id}}/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="do today" />
                    </form>
                </div>
                {% endif %}

                <div class="longest_streak">
                    <p>Longest streak so far: {{longest_streak}}</p>
                </div>

        </div>


        <div class="col-sm-2 col-sm-offset-1 sidebar-module description">
            <h4>Goal description</h4>
            <p id="goal-description">{{current_goal.description}}</p>
            <h4>Notes</h4>
            <div class="form-group notes">
                    <label class="sr-only">Notes</label>
                    <div class="current-notes visib">
                        {{current_goal.notes}}
                    </div>
                    <div class="change-notes">
                        <textarea class="form-control visib"
                                  id="new-description"
                                  name="notes"
                                  placeholder="Take note!">{{current_goal.notes}}</textarea>
                    </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}


{% block js %}
    <script src="{% static 'textarea.js' %}"></script>
{% endblock %}