{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-sm-9 starter-template">
                {%for g in goals%}
                    {% if g.is_done_today %}
                        <a class='btn btn-sm btn-success' href="/goal/{{g.id}}">{{g}} ({{g.lenstreak}})</a>
                    {% else %}
                        <a class='btn btn-sm btn-default' href="/goal/{{g.id}}">{{g}} ({{g.lenstreak}})</a>
                    {% endif %}
                {%endfor%}

            {{message}}

            <div class="new_goal_form">
                <form action="/goal/" method="post">
            {% csrf_token %}
                    <input type="text" name="new_goal">
                    <input type="submit" value="make goal" />
                </form>
            </div>
        </div>

        <div class="col-sm-2 top-streaks">
            <div class="sidebar-module ">
                <h4>Top Streaks</h4>
                {% for g in all_goals %}
                    <p>{{g}} ({{g.lenstreak}})</p>
                {% endfor %}

            </div>
        </div>

    </div>

</div>

{% endblock %}