{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-sm-9 starter-template">
                {%for g in goals%}
                    {% if g.is_done_today %}
                        <a class='btn btn-sm btn-success btn-round' href="/goal/{{g.id}}">{{g}} ({{g.lenstreak}})</a>
                    {% else %}
                        <a class='btn btn-sm btn-default btn-round' href="/goal/{{g.id}}">{{g}} ({{g.lenstreak}})</a>
                    {% endif %}
                {%endfor%}

            {{message}}

            <div class="new_goal_form form-signin">
                <form class="form-inline" action="/goal/" method="post">
            {% csrf_token %}
                    <label for="exampleInputName2">Create a new goal:</label>
                    <input type="text" class="form-control" name="new_goal" id="exampleInputName2" placeholder="practice moonlanding">
                    <button type="submit" class="btn btn-default">make goal</button>
                </form>
            </div>
        </div>

        <div class="col-sm-2 top-streaks">
            <div class="sidebar-module ">
                <h4>Top Streaks</h4>
                {% for g in all_goals %}
                    <p>{{g}} ({{g.lenstreak}})</p>
                {% endfor %}

            </div>
        </div>

    </div>

</div>

{% endblock %}